*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg{ 
    background: url(img/bgscreenshotnight.png) no-repeat center fixed; 
    background-size: cover;
  }

.navbar, #today, .fblock{
    background: rgba(255,255,255,0.2);
    margin-bottom: 1em;
    
}
.navbar-brand, #currentCity{
    color: white;
    
}
#currentDay, aside h4, section h3{
    color: white;
}
aside{
    margin-top: 0.5em;
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    
}