.bg{ 
    background: url(img/bgscreenshot.png) no-repeat center fixed; 
    background-size: cover;
  }

.navbar, #today{
    background: rgba(255,255,255,0.2);
    margin-bottom: 1em;
    
}
.navbar-brand, #currentCity{
    color: white;
    
}
#currentDay, aside h4, section h3{
    color: white;
}
aside{
    margin-top: 0.5em;
}
#uvi{
    background-color: red;
}
footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    
}