*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.morning{ 
    background: url(img/bgscreenshotmorning.png) no-repeat center fixed; 
    background-size: cover;
  }
.noon{
    background: url(img/bgscreenshot.png) no-repeat center fixed; 
    background-size: cover;    
}
.night{
    background: url(img/bgscreenshotnight.png) no-repeat center fixed; 
    background-size: cover;
}

.navbar, #today {
    background: rgba(255,255,255,0.2);
    margin-bottom: 1em;
    
}
#temp{
    font-size: 4em;
    font-weight: lighter;
}

#desc{
    font-size: 1.5em;
}

.fblock{
    background: rgba(31, 29, 29, 0.5);
}
.navbar-brand, 
#currentCity,
#currentDay, aside h4, section h3,
.info
{
    color: white;
    
}

aside{
    margin-top: 0.5em;
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    
}